# Project exclude paths
/.gradle/
/build/classes/
/build/tmp/
/resolute/ResoluteTagUtils-rt/build/
/resolute/ResoluteTagUtils-rt/build/classes/java/main/
/resolute/ResoluteTagUtils-rt/build/classes/java/niagaraModuleTest/
/resolute/ResoluteTagUtils-se/build/
/resolute/ResoluteTagUtils-ux/build/
/resolute/ResoluteTagUtils-wb/build/
.idea/
.lock
.bin
.properties
.class
cache*